@import "../../styles/mixins";

.categories {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
    gap: 15rem;
  }
}
