@import "../../../styles/mixins";

.category {
  position: relative;
  z-index: 0;
  width: 33%;
  height: 20.4rem;
  background-color: var(--white-900);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  padding-bottom: 3rem;

  @include respond(phone) {
    width: 100%;
    margin-top: 8rem;
  }
}

.img {
  position: absolute;
  z-index: -1;
  top: -50%;

  @include respond(tab) {
    top: -60%;
  }
  @include respond(phone) {
    top: -75%;
  }
}

.content {
  position: relative;
  z-index: 1;
}
