:root {
  --primary-500: rgba(216, 125, 74, 1);
  --primary-400: rgba(251, 175, 133, 1);

  --black-900-50: rgba(0, 0, 0, 0.5);
  --black-900: rgba(0, 0, 0, 1);
  --black-800: #181818;

  --white-100-25: rgba(255, 255, 255, 0.25);
  --white-100-75: rgba(255, 255, 255, 0.75);
  --white-100: rgba(255, 255, 255, 1);
  --white-200: rgba(250, 250, 250, 1);
  --white-900: rgba(241, 241, 241, 1);
}
